.cover {
  font-family: "Inter", sans-serif;
  width: 1184px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  filter: brightness(70%);
}
.cover__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.cover:hover .cover__overlay{
  background-color: rgba(42, 44, 47, 0.8);

}

.cover__background {
  width: 100%;
}

.cover__info {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin-bottom: 32px;
}
.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.cover__button {
  width: 198px;
  height: 48px;
  padding: 13px 20px;
  margin-top: 32px;
  background-color: #0278fe;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
.cover__button:hover {
  background-color: #0063d2;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cover {
    width: 768px;
    height: 746px;
  }
  .cover__background {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .cover {
    width: 321.26px;
    height: 254px;
  }
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .cover__background {
    height: 100%;
    width: 100%;
  }
}
