.footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  max-width: 191px;
  margin-bottom: 24px;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 64px;
    line-height: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    margin-top: 88px;
  }
}
